{% extends "dashboard/base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}

<!-- WELCOME -->
<div class="card welcome-card">
    {% if request.user.is_authenticated %}
        <h2>Hello, {{ request.user.username }} 👋</h2>
    {% else %}
        <h2>Hello, Guest 👋</h2>
    {% endif %}
</div>

<!-- STATS -->
<div class="stats">
    <div class="stat-card">
        🐶
        <h3>{{ pets_count|default:0 }}</h3>
        <p>Pets</p>
    </div>
    <div class="stat-card">
        📅
        <h3>0</h3>
        <p>Appointments</p>
    </div>
    <div class="stat-card">
        💊
        <h3>0</h3>
        <p>Medications</p>
    </div>
    <div class="stat-card">
        📁
        <h3>{{ health_records_count|default:0 }}</h3>
<p>Health Records</p>

    </div>
</div>

<!-- QUICK ACTIONS -->
<div class="card">
    <h3>Quick Actions</h3>

    <div class="actions">
        <a href="{% url 'dashboard:add_health_record' %}" class="action-btn">📁 + Add Health Record</a>
        <a href="#" class="action-btn">💊 + Add Medication</a>
        <a href="#" class="action-btn">📅 + Schedule Appointment</a>
        <a href="#" class="action-btn">🐶 + Add New Pet</a>
    </div>
</div>

{% endblock %}
