{% extends "dashboard/base.html" %}
{% load static %}

{% block title %}Medications{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/medications.css' %}">
{% endblock %}

{% block top_actions %}
<a href="{% url 'dashboard:add_medication' %}" class="btn-outline">
    + Add Medication
</a>
<a href="{% url 'login' %}" class="btn-outline">Logout</a>
{% endblock %}

{% block content %}

<h2 class="page-title">Medications</h2>

<div class="card">
    <table class="records-table">
        <thead>
            <tr>
                <th>Pet</th>
                <th>Medication</th>
                <th>Dosage</th>
                <th>Frequency</th>
                <th>Start</th>
                <th>End</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
        {% for med in medications %}
            <tr>
                <td>{{ med.pet.name }}</td>
                <td>{{ med.medication_name }}</td>
                <td>{{ med.dosage }}</td>
                <td>{{ med.frequency }}</td>
                <td>{{ med.start_date }}</td>
                <td>{{ med.end_date|default:"—" }}</td>
                 <td>
                    <a href="{% url 'dashboard:edit_medication' med.id %}" class="btn-edit">Edit</a>


                    <form method="POST"
          action="{% url 'dashboard:delete_medication' med.id %}"
          style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="btn-delete">
            Delete
        </button>
    </form>
                </td> 
            </tr>
        {% empty %}
            <tr>
                <td colspan="7" style="text-align:center;">
                    No medications added yet.
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
