.page-title {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #1e88e5;
}

/* CARD */
.password-card {
    background: white;
    padding: 30px;
    max-width: 450px;
    border-radius: 14px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

/* FORM */
.form-group {
    margin-bottom: 18px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 6px;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
}

/* BUTTON */
.btn-primary {
    width: 100%;
    margin-top: 10px;
    background: #1e88e5;
    color: white;
    padding: 12px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.btn-primary:hover {
    background: #1565c0;
}
.error-box {
    background: #ffe6e6;
    border: 1px solid #ff4d4d;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.error-text {
    color: #c62828;
    font-size: 14px;
    margin: 4px 0;
}
