{% extends 'home/base.html' %}
{% load static %} 
{% block content %}
<section class="landing">
    <div class="landing-left">
        <h1>Track Your Pet's Health Easily</h1>
        <p>Keep vaccinations, appointments, and health records all in one place.</p>
        <div class="feature-cards">
            <div class="card">
                <h1 style="font-size:20px">Vaccination Tracker</h1>
                <p>Never miss a vaccination with organized schedules and reminders.</p>
            </div>
            <div class="card">
                <h1 style="font-size:20px">Health Records</h1>
                <p>Store vet visits, treatments, and medical history securely.</p>
            </div>
            <div class="card">
                <h1 style="font-size:20px">User Dashboard</h1>
                <p>Access all pet information from a clean, simple dashboard.</p>
            </div>
        </div>
    </div>
    <div class="landing-right">
        <img src="{% static 'images/petimg.jpg' %}" alt="Pet Image">
    </div>
</section>


{% endblock %}
