* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background:   #f4f7fb;
}

/* TOP BAR */
.topbar {
    background: #1e88e5;
    color: #fff;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-actions .btn {
    background: #fff;
    color: #1e88e5;

    border: none;
    padding: 8px 14px;
    margin-left: 10px;
    border-radius: 6px;
    cursor: pointer;
}

.logout {
   background: #fff;
    color: #1e88e5;
}

/* LAYOUT */
.layout {
    display: flex;
    height: calc(100vh - 60px);
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    background:#1e88e5;
    color:#fff;

    padding: 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 8px;
}

.sidebar li.active,
.sidebar li:hover {
   background: #fff;
    color: #1e88e5;

}

/* CONTENT */
.content {
    flex: 1;
    padding: 25px;
}

/* WELCOME */
.welcome {
    background: white;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
}

/* STATS */
.stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-bottom: 25px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    font-size: 18px;
}

.card span {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    color: gray;
}

/* QUICK ACTIONS */
.quick-actions {
    background: white;
    padding: 30px;
    border-radius: 15px;
}

.quick-actions h3 {
    margin-bottom: 15px;
}

.action-buttons {
    display: flex;
    gap: 80px;
    margin-bottom: 25px;
}

.action-buttons button {
    background: #1e88e5;
    color: white;
    border: none;
    padding: 25px 60px;
    border-radius: 8px;
    cursor: pointer;
}

